@import "tailwindcss";

/* ✅ Add this */
@theme {
  --font-newsreader: "Newsreader", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-libertinus: "Libertinus Serif", serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}